{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>KAZI</title>
        <link rel="stylesheet" href="{% static 'jobs/css/style.css' %}">
        <link rel="stylesheet" href="{% static 'jobs/bootstrap/css/bootstrap.min.css' %}">
     </head>
<body>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog border-bottom border-info">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'verifieds:valid_member' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label text-start">Username</label>
          <input type="text" name="username" class="form-control" required>
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" required>
          </div>
          <button type="submit" class="btn btn-info float-end">Login</button>
        </form>
      </div>
    </div>
  </div>
</div>  
    
  <script src="{% static 'jobs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'jobs/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>
</html>