{% extends 'userpages/dashboard_layout.html' %}
{% load static %}

{% block content %}

<div class="row g-4">
    <div class="col">
    <a href="{% url 'userpages:job' %}" class="text-decoration-none">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-secondary text-center">Total Active Jobs</h5>
                <div class="text-center text-secondary mt-4">
                    {{ job_count }}
                </div>
            </div>
        </div>
    </a>
    </div>
    <div class="col">
        <a href="{% url 'userpages:category' %}" class="text-decoration-none">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-secondary text-center">Total Categories</h5>
                    <div class="text-center text-secondary mt-4">
                        {{ category_count }}
                    </div>
                </div>
            </div>
        </a>
    </div>  
  </div>

  
{% endblock content %}